/* PNA-inspired Clean Background */
body {
    background-color: #f8f9fa;
    color: #333;
}

/* Red Heading Style from your LM.png */
.brand-title {
    color: #CF3338;
    font-weight: 800;
    letter-spacing: -1px;
}

/* The Green 'Add Product' button from your screenshot */
.btn-pna-green {
    background-color: #017C45;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

    .btn-pna-green:hover {
        background-color: #016337;
        color: white;
    }
